.NavItem{
    margin: 10px 0;
    box-sizing: border-box;
    width: 100%;
    display: block;
    align-items: center;
}

.NavItem a{
    color: saddlebrown;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavItem a :hover{

}
.NavItem a:active{

    color: sandybrown;


}

@media(min-width:500px){
    .NavItem{
        margin: 0;
        height: 100%;
        width: auto;
        display: flex;
        align-items: center;
    }
    
    .NavItem a{
        color: white;
        text-decoration: none;
        height: 100%;
        padding: 15px 10px;
        border-bottom: 5px solid transparent;
    }
    
    .NavItem a :hover{
    
    }
    .NavItem a:active{
        background-color: saddlebrown;
        border-bottom: 5px solid sandybrown;
        color: white;
    
    
    }
}