.NavItem{
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
}

.NavItem a{
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 15px 10px;
    border-bottom: 5px solid transparent;
    box-sizing: border-box;
    display: block;
}

.NavItem a :hover{

}
.NavItem a:active{
    background-color: saddlebrown;
    border-bottom: 5px solid sandybrown;
    color: #FFF;


}